body {font-family: Verdana, sans-serif; margin:0}

/* Navbar ---------------------------------------------------------------------------------------------- */

#navbar
{
    border-bottom: 0.75mm solid #000;
}

.nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c2c2c2;
    
}

.nav li
{
    border-collapse: collapse;
    border-right: 0.75mm solid #000;
    background-color: #BDFFCC;
}

.nav li:not(.quiz)
{
    float: left;
}


.nav li:last-child
{
    border-right: 0.75mm solid #000;
}
  
.nav li a
{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
  
.nav li a:hover:not(.active)
{
    background-color: #92ffac;
}
  
.nav .active 
{
    background-color: #80FF9C;
}

.quiz
{
    float: right;
    border-left: 0.75mm solid #000;
}


/* Header ---------------------------------------------------------------------------------------------- */

#homeHeader
{
    background-color: #32A809;
    margin: none;
    padding: 1px;
}

#homeHeader h1
{
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

/* Stat + Quote + Graph ---------------------------------------------------------------------------------------------- */ 

#stat
{
    background-color: #80FF9C;
    font-size: 24px;
    padding: 5mm;
    left: 0px;
    margin: 0px;
}

#quote
{
    background-color: #00FFF0;
    font-size: 24px;
    padding: 5mm;
    right: 0px;
    margin: 0px;
    
}

#co2Graph
{
    width: 100%;
    font-size: 24px;
    padding: 5mm;
    margin: 0px;
}

#graphCaption
{
    color: white;
    text-align: center;
    font-size: 30px;
}

/* Effects Images ---------------------------------------------------------------------------------------------- */

#effectsImgs
{
    background-color: #4B4B4B;
    display: flex;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    display: block;
    padding: 1cm;
    margin-top: 0px;
}

#effectsTable
{
    border-width: 0px;
    padding-top: 1cm;
    position: relative;
}

.captionedImg
{
    width: 75%;
}

.captionedImg figcaption
{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin: 0.3cm;
}

/* linkImg1 ---------------------------------------------------------------------------------------------- */

.splitscreen
{
    display:flex;
}

#linkImg1 .left
{
    flex: 2;
    text-align: center;
    position: relative;
    top: 50%;
    transform:translate(0, 40%)
}

#linkImg1 .right
{
    flex: 3;
}

#linkImg1
{
    background-color: #1C6402;
    display: flex;
    flex-direction: row-reverse;
    padding: 1cm;
}

#impactImg
{
    width: 75%;
    align-content: center;
    border-radius: 10%;
}

#impactsCaption
{
    color: #ffffff;
    font-size: 32px;
}


/* linkImg2 ---------------------------------------------------------------------------------------------- */

#linkImg2 .left
{
    flex: 3;
}

#linkImg2 .right
{
    flex: 2;
    text-align: center;
    position: relative;
    top: 50%;
    transform:translate(0, 40%)
}

#linkImg2
{
    background-color: #9CFFB2;
    display: flex;
    flex-direction: row-reverse;
    padding: 1cm;
}

#helpImg
{
    width: 75%;
    align-content: center;
    border-radius: 10%;
}

#helpCaption
{
    color: #000;
    font-size: 32px;
}

/* Carbon Footprint Calculator ---------------------------------------------------------------------------------------------- */

#footprintCalc
{
    color: #ffffff;
    background-color: #46b120;
    font-size: 36px;
    text-align: center;
    padding: 4cm;
}

#footprintCalc a:visited
{
    color:#ffffff;
}

#footprintCalc a:link
{
    color:#ffffff;
    background-color: #4B4B4B;
    padding: 1cm;
    border-radius: 0.5cm;
}

/* Websites ---------------------------------------------------------------------------------------------- */

#websites
{
    font-size: 30px;
    padding: 1cm;
    padding-bottom: 2cm;
    background-color:#f3ffd5;
    padding-left: 15%;
}
